@keyframes aurora-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.aurora-bg {
}

.aurora-bg::before,
.aurora-bg::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    mix-blend-mode: overlay; /* Efek yang lebih lembut */
    animation: aurora-rotate 80s linear infinite;
    opacity: 0.4;
}

.dark .aurora-bg::before,
.dark .aurora-bg::after {
    opacity: 0.8;
}

.aurora-bg::before {
    background-image: radial-gradient(ellipse at 70% 20%, rgba(217, 70, 239, 0.3) 0%, transparent 50%),
        radial-gradient(ellipse at 30% 80%, rgba(59, 130, 246, 0.2) 0%, transparent 40%);
    animation-duration: 65s;
}

.aurora-bg::after {
    background-image: radial-gradient(circle at 50% 50%, rgba(34, 211, 238, 0.25) 0%, transparent 40%),
        radial-gradient(ellipse at 80% 70%, rgba(236, 72, 153, 0.2) 0%, transparent 40%);
    animation-duration: 85s;
    animation-direction: reverse;
}
